nav.navbar.is-primary(role="navigation", aria-label="main navigation")
  .container
    .navbar-brand
      a.navbar-item(href="/")
        img(src="/images/icon.png")
      a.navbar-burger(role="button", data-target="navMenu", aria-label="menu", aria-expanded="false")
        span(aria-hidden="true")
        span(aria-hidden="true")
        span(aria-hidden="true")
    .navbar-menu(id="navMenu")
      .navbar-start
        a.navbar-item(href="/profile") Profile
        a.navbar-item(href="/members") Directory
        a.navbar-item(href="/discovery") Challenges
        a.navbar-item(href="/resources") Resources
        a.navbar-item(href="/logout") Logout
