extends ../layouts/base


block content
  iframe(class=`airtable-embed`,src=`https://airtable.com/embed/shrA3NM4ipX5yjqGZ`,frameborder=`0`, onmousewheel=``, width=`100%`, height=`533px`, style=`background: transparent; border: 1px solid #ccc;`)
